@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#root {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
img{
  transition: all 300ms ease-in-out;
  border-radius: .5em;
}
.video-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 2em;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Add a smooth transition for scaling and box-shadow */
  /* Add a default box-shadow */
 
}

.video{
  position: relative;
  flex-basis: 35%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}
.video-player{
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  outline: none;
  border: none;
  background-color: #1A1A1D;
  color: #646464;
  cursor: pointer;
  transition: all  0.25s ease-in-out;
}

.video2{
  position: relative;
  flex-basis: 25%;
  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.video-thumb {
 
  width: 100%; /* Ensure the image fills the container */
}

.duration {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  font-size: 12px;
}

.info {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s ease-in-out; /* Add a smooth fade-in transition */
}

.info2{
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);

  position: absolute;
  bottom: 5px;
  left: 0;
  width: 80%;
  height: 35%;
  font-size: 0.8em;
  display: flex;
  gap:1em;
  justify-content: space-between;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.2s ease-in-out; /* Add a smooth fade-in transition */
}

.video:hover .info {
  opacity: 1; /* Show info on hover */
}
.video2:hover .info2 {
  opacity: 1; /* Show info on hover */
}

/* Apply border bottom to the searchbar container */
.searchbar {
  margin: 0 auto 0 0;
  padding: 1em 0 0 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid transparent; /* Set a transparent bottom border by default */
  transition: border-bottom 0.3s ease-in-out; /* Add a transition for smooth hover/click effect */
}

/* Apply border bottom color on hover and focus (click) */
.searchbar:hover, .searchbar:focus {
  border-bottom: 1px solid #FC4445; 
  
   /* Change the bottom border color on hover or click */
}

.sorting-dropdown{
  margin : 0 auto 0 0;
  padding: 1em 0 0 1em;
  font-family: 'Poppins', sans-serif; 
  font-size: 1.2rem;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sorting-dropdown > label{
  font-family: 'Poppins', sans-serif; 
}

.sorting-dropdown > select{
  font-family: 'Poppins', sans-serif; 
 font-size: 1rem;
  padding: 0.2em;
  border-radius: 0.5em;
 outline: none;
 border: none;
  background-color: #1A1A1D;
  color: #646464;
  cursor: pointer;
  transition: all  0.25s ease-in-out;
}

.sorting-dropdown > select:hover, select:focus{
 color: #c3073fb0;
}

.sorting-dropdown > select option {
  border-radius: 0.5em;
  outline: none; /* Remove outlines from the options */
}
.sorting-dropdown > select option:hover {
  background-color: #333;
  color: #c3073fb0;
}

.search-button{
  transition: all 0.25s ease-in-out;
}

button .search-button:hover{
  background-color: #fc4435;
}